# Ignore Virtual Environments (The 1GB DLLs)
venv/
venv_fix/
env/

# Ignore Model Artifacts (The 2.5GB file)
*.pkl
*.keras
*.h5
*.joblib
models/

# Ignore Data
#data/
*.parquet
*.csv

# Ignore IDE and Cache
__pycache__/
*.pyc
.vscode/
.idea/
clearml.conf